<p-toast position="top-left"></p-toast>

<div
  class="absolute top-0 left-0 flex align-items-center gap-2 justify-content-center w-full surface-100 text-primary shadow-2"
  style="height: 35px">
  Feito por Jean Talar
  <i class="pi pi-face-smile"></i>
</div>

<main class="container" style="margin-top: 35px; margin-bottom: 60px">
  <div class="grid">
    <div class="col-12 text-center">
      <p-fileUpload
        mode="advanced"
        chooseLabel="Selecionar Arquivos"
        chooseIcon="pi pi-upload"
        accept=".xml"
        [multiple]="true"
        [showUploadButton]="false"
        [showCancelButton]="false"
        (onSelect)="onFilesSelected($event)">
        <ng-template let-files pTemplate="content">
          @if (filesNode.length) { Esqueceu algum xml? Adicione mais arquivos arrastando-os até
          <b>aqui!</b>
          } @else { Clique para selecionar os arquivos e começar a utilizar a ferramenta
          <br />
          Se você já tem um trabalho salvo, basta clicar em carregar }
        </ng-template>
        <ng-template pTemplate="file"></ng-template>
        <ng-template pTemplate="toolbar">
          <p-splitButton
            (onClick)="generateExcel()"
            label="Gerar Excel"
            icon="pi pi-file-excel"
            dropdownIcon="pi pi-cog"
            [model]="generateItems" />
          <p-button (onClick)="onSaveData()" label="Salvar" icon="pi pi-cloud-download"></p-button>
          <p-button (onClick)="onLoadSavedData()" label="Carregar" icon="pi pi-cloud-upload"></p-button>
        </ng-template>
      </p-fileUpload>
    </div>
    <div class="custom-line"></div>
    <div class="card w-full">
      <p-tree
        [loading]="isLoading"
        loadingMode="icon"
        (onNodeDrop)="cancel($event)"
        [value]="filesNode"
        [draggableNodes]="true"
        [droppableNodes]="true"
        draggableScope="self"
        droppableScope="self"
        styleClass="custom-tree-overlay">
        <ng-template pTemplate="empty"> </ng-template>
        <ng-template pTemplate="header">
          <div class="flex align-items-center justify-content-between mb-3">
            <h2 class="my-1">
              @if (filesNode.length) { Gerencie os CT-es } @else { Selecione os CT-es para começar }
            </h2>
            <p-button
              [disabled]="isLoading || filesNode.length === 0"
              label="Nova Carga"
              styleClass="uppercase"
              [rounded]="true"
              icon="pi pi-plus"
              severity="success"
              (onClick)="addNodeGroup()"
              size="small">
            </p-button>
          </div>
        </ng-template>
        <ng-template let-node pTemplate="default">
          <div class="flex align-items-center gap-2 w-full hover-button-wrapper">
            <div class="flex-grow-1 grid m-0 gap-2">
              <div class="col-2">
                {{ node.label }}
              </div>
              <div class="col-3" *ngIf="!node.parent">
                @if (node.data.motorista) {
                <div class="text-overflow-ellipsis white-space-nowrap overflow-hidden">
                  {{ node.data.motorista }}
                </div>
                }
              </div>
              <div class="col-2" *ngIf="!node.parent">
                @if (node.data.contrato) {
                <i class="pi pi-paperclip"></i>
                {{ node.data.contrato }}
                }
              </div>
              <div class="col-2" *ngIf="!node.parent" [pTooltip]="node.data.cheques?.join(' - ')">
                @if (node.data.cheques.length > 0) {
                <div class="text-overflow-ellipsis white-space-nowrap overflow-hidden">
                  <i class="pi pi-money-bill"></i>
                  {{ node.data.cheques.join(' - ') }}
                </div>
                }
              </div>
              <div class="col-2" *ngIf="!node.parent">
                @if (node.data.dataPagamento) {
                <i class="pi pi-calendar"></i>
                {{ node.data.dataPagamento | date : 'd/MMM' : 'pt-br' }}
                }
              </div>
            </div>
            <div class="flex g-2">
              <p-overlayPanel #op>
                <ng-template pTemplate="content">
                  <div class="field">
                    <label class="block" for="motorista">Motorista</label>
                    <input
                      id="motorista"
                      type="text"
                      pInputText
                      [ngModel]="node.data.motorista"
                      (ngModelChange)="uppercaseMotorista($event, node.data)" />
                  </div>
                  <div class="field">
                    <label class="block" for="contrato">Contrato</label>
                    <p-inputNumber
                      id="contrato"
                      type="text"
                      [(ngModel)]="node.data.contrato"
                      maxlength="5"
                      [useGrouping]="false" />
                  </div>
                  <div class="field">
                    <label class="block" for="pagamento">Data de pagamento</label>
                    <p-calendar
                      clearButtonStyleClass="hidden"
                      id="pagamento"
                      [(ngModel)]="node.data.dataPagamento"
                      [showButtonBar]="true"
                      [readonlyInput]="true"
                      dateFormat="dd/mm/yy">
                    </p-calendar>
                  </div>
                  <div class="field">
                    <label class="block" for="cheque">Cheques</label>
                    <p-chips
                      id="cheque"
                      [maxLength]="5"
                      separator=" "
                      [allowDuplicate]="false"
                      [(ngModel)]="node.data.cheques">
                    </p-chips>
                  </div>
                  <div class="field">
                    <label class="block" for="taxaCooperativa">
                      Taxas de contrato e da cooperativa
                    </label>
                    <p-selectButton
                      id="taxaCooperativa"
                      styleClass="selectbutton-primary"
                      [(ngModel)]="node.data.taxas"
                      [options]="[
                        { label: '96% e 4%', value: { cooperativa: 0.04, contrato: 0.96 } },
                        { label: '97% e 3%', value: { cooperativa: 0.03, contrato: 0.97 } }
                      ]"
                      optionLabel="label"
                      optionValue="value"
                      [allowEmpty]="false" />
                  </div>
                  <div class="field">
                    <div class="flex align-items-center justify-content-between">
                      <label class="block">Descontos</label>
                      <p-button
                        (onClick)="onAddNewDesconto(node.data)"
                        size="small"
                        [rounded]="true"
                        pTooltip="Novo desconto"
                        [text]="true"
                        icon="pi pi-plus">
                      </p-button>
                    </div>
                    <p-divider />
                    <div>
                      @for (desconto of node.data.descontos; track desconto) {
                      <div class="grid align-items-center">
                        <div class="col-5">
                          <input
                            type="text"
                            pInputText
                            placeholder="Descrição"
                            [(ngModel)]="desconto.descricao" />
                        </div>
                        <div class="col-5">
                          <p-inputNumber
                            type="text"
                            [useGrouping]="true"
                            prefix="R$ "
                            placeholder="0,00"
                            mode="decimal"
                            locale="pt-BR"
                            [maxFractionDigits]="2"
                            [minFractionDigits]="2"
                            [(ngModel)]="desconto.preco" />
                        </div>
                        <div class="col-2">
                          <p-button
                            (onClick)="onRemoveDesconto(node.data, $index)"
                            size="small"
                            [rounded]="true"
                            pTooltip="Remover desconto"
                            [text]="true"
                            icon="pi pi-times">
                          </p-button>
                        </div>
                      </div>
                      } @if (node.data.descontos.length === 0) {
                      <p class="text-500 m-0">Ainda não há descontos para mostrar</p>
                      }
                    </div>
                  </div>
                </ng-template>
              </p-overlayPanel>
              <p-button
                *ngIf="!node.parent"
                (onClick)="addNodeGroupBeforeNode(node.key)"
                class="hover-button"
                size="small"
                [rounded]="true"
                pTooltip="Inserir carga no item anterior"
                [text]="true"
                icon="pi pi-truck">
              </p-button>
              <p-button
                *ngIf="!node.parent"
                (click)="op.toggle($event)"
                size="small"
                [rounded]="true"
                pTooltip="Editar informações adicionais"
                [text]="true"
                icon="pi pi-pencil">
              </p-button>
              <p-button
                icon="pi pi-times"
                [rounded]="true"
                [text]="true"
                size="small"
                (onClick)="deleteNode(node)"
                [pTooltip]="node.droppable ? 'Remover carga' : 'Remover CT-e'"
                severity="danger">
              </p-button>
            </div>
          </div>
        </ng-template>
      </p-tree>
    </div>
  </div>
</main>

<div class="fixed flex gap-2 right-0 bottom-0 p-5">
  <p-button
    icon="pi pi-angle-up"
    [rounded]="true"
    size="large"
    (onClick)="scrollPage(true)"
    [text]="true"
    pTooltip="Ir para o topo da página">
  </p-button>
  <p-button
    icon="pi pi-angle-down"
    [rounded]="true"
    size="large"
    (onClick)="scrollPage(false)"
    [text]="true"
    pTooltip="Ir para o final da página">
  </p-button>
</div>

<p-dialog [(visible)]="visible" [modal]="true" [draggable]="false">
  <ng-template pTemplate="headless">
    <div class="p-6 flex flex-column gap-3">
      <span class="p-text-secondary">Aguarde o carregamento do progresso salvo...</span>
      <i class="pi pi-spin pi-spinner text-center text-4xl text-primary"></i>
    </div>
  </ng-template>
</p-dialog>
<p-dialog
  header="Data de Pagamento"
  [modal]="true"
  [draggable]="false"
  [(visible)]="globalDateDialog"
  [style]="{ width: '30rem' }">
  <span class="text-color-secondary block mb-4 text-sm">
    Defina uma data de pagamento para todos os CT-es.
  </span>
  <div class="field">
    <label class="block" for="pagamento-global">Informe a data</label>
    <p-calendar
      id="pagamento-global"
      appendTo="body"
      [(ngModel)]="globalPaymentDate"
      [showButtonBar]="true"
      [readonlyInput]="true"
      dateFormat="dd/mm/yy">
    </p-calendar>
    <span class="text-400 block text-xs mt-2 px-2">
      Limpe o campo caso queira utilizar o padrão informado por cada Carga/CT-e
    </span>
  </div>
  <ng-template pTemplate="footer">
    <p-button label="Fechar" [text]="true" severity="secondary" (onClick)="globalDateDialog = false" />
  </ng-template>
</p-dialog>
