<p-toast position="top-left"></p-toast>

<main class="container">
  <div class="grid">
    <div class="col-12 text-center">
      <p-fileUpload
        mode="advanced"
        chooseLabel="Selecione os arquivos"
        chooseIcon="pi pi-upload"
        accept=".xml"
        [multiple]="true"
        [showUploadButton]="false"
        [showCancelButton]="false"
        (onSelect)="onFilesSelected($event)">
        <ng-template let-files pTemplate="content">
          @if (files.length) { Esqueceu algum xml? Adicione mais arquivos arrastando-os até aqui! }
        </ng-template>
        <ng-template pTemplate="file"></ng-template>
        <ng-template pTemplate="toolbar">
          <p-button (onClick)="generateExcel()" label="Gerar Excel" icon="pi pi-file-excel"></p-button>
        </ng-template>
      </p-fileUpload>
    </div>
    <div class="custom-line"></div>
    <div class="card w-full">
      <p-tree
        (onNodeDrop)="cancel($event)"
        [value]="filesNode"
        [draggableNodes]="true"
        [droppableNodes]="true"
        draggableScope="self"
        droppableScope="self">
        <ng-template pTemplate="empty">
          <p-message styleClass="mt-2" severity="info" text="Nenhum arquivo selecionado ainda">
          </p-message>
        </ng-template>
        <ng-template pTemplate="header">
          <div class="flex align-items-center justify-content-between mb-3">
            <h2 class="my-1">Ordene os arquivos selecionados</h2>
            <p-button
              label="Nova Carga"
              styleClass="uppercase"
              [rounded]="true"
              icon="pi pi-plus"
              severity="success"
              (onClick)="addNodeGroup()"
              size="small">
            </p-button>
          </div>
        </ng-template>
        <ng-template let-node pTemplate="default">
          <div class="flex align-items-center gap-2 w-full">
            <span class="flex-grow-1 flex align-items-center">
              {{ node.label }}
            </span>
            <div class="flex g-2">
              <p-overlayPanel #op>
                <ng-template pTemplate="content">
                  <div class="field">
                    <label class="block" for="motorista">Motorista</label>
                    <input id="motorista" type="text" pInputText [(ngModel)]="node.data.motorista" />
                  </div>
                  <div class="field">
                    <label class="block" for="contrato">N° contrato</label>
                    <p-inputNumber
                      id="contrato"
                      type="text"
                      [(ngModel)]="node.data.contrato"
                      maxlength="5"
                      [useGrouping]="false" />
                  </div>
                  <div class="field">
                    <label class="block" for="cheque">N° cheque</label>
                    <p-inputNumber
                      id="cheque"
                      type="text"
                      [(ngModel)]="node.data.cheque"
                      maxlength="4"
                      [useGrouping]="false" />
                  </div>
                  <div class="field">
                    <label class="block" for="pagamento">Data de pagamento</label>
                    <p-calendar
                      id="pagamento"
                      [(ngModel)]="node.data.dataPagamento"
                      [showButtonBar]="true"
                      dateFormat="dd/mm/yy">
                    </p-calendar>
                  </div>
                </ng-template>
              </p-overlayPanel>
              <p-button
                *ngIf="node.parent !== null"
                (click)="op.toggle($event)"
                size="small"
                [rounded]="true"
                pTooltip="Clique para editar informações adicionais"
                [text]="true"
                icon="pi pi-pencil">
              </p-button>
              <p-button
                icon="pi pi-times"
                [rounded]="true"
                [text]="true"
                size="small"
                (onClick)="deleteNode(node)"
                [pTooltip]="node.droppable ? 'Remover carga' : 'Remover CT-e'"
                severity="danger">
              </p-button>
            </div>
          </div>
        </ng-template>
      </p-tree>
      <div class="flex justify-content-center">
        <p-progressSpinner
          styleClass="w-4rem h-4rem"
          strokeWidth="4"
          ariaLabel="Carregando..."
          styleClass="custom-spinner"
          *ngIf="isLoading">
        </p-progressSpinner>
      </div>
    </div>
  </div>
</main>
