.container {
  max-width: 960px;
  margin: 0 auto;
}

.custom-line {
  width: 100%;
  border-bottom: 1px solid var(--gray-300);
  margin: 5px auto;
}

.hover-button {
  visibility: hidden;
}

.hover-button-wrapper:hover {
  .hover-button {
    visibility: visible;
  }
}
